<%- include("partials/header") %>

<h1 class="text-center">
	RESET PASSWORD 
</h1>

<div class="box">
	<form class="text-center" action="/profile/changePassword" method="POST">
		<input class="form-control mr-sm-2 temp" type="password" name="oPword" placeholder="Old Password">
		<input class="form-control mr-sm-2 temp" type="password" name="nPword" placeholder="New Password">
		<input class="form-control mr-sm-2 temp" type="password" name="cPword" placeholder="Confirm Password">
		<button class="btn btn-dark sub">SUBMIT</button>
	</form>
</div>	



<%- include("partials/footer") %>