<%- include("partials/header"); %>

<h1>
	CREATE AN ACCOUNT
</h1>

<div class="div__form" >
	<form class="form" action="/register" method=POST>
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<button>SUBMIT</button>
	</form>
	<a href="/login">LOGIN</a>
</div>
<%- include("partials/footer"); %>