<%- include("partials/header"); %>

<h1>
	WELCOME <%= currentUser.username %>
</h1>

<img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/few_off/sian-fkp-37/overview/SIAN_FKP_37_01-overview_M.jpg">

<!-- <li><a href="/register">SIGN UP</a></li>
<li><a href="/login">LOGIN</a></li> -->
<a href="/logout">LOGOUT</a>
<%- include("partials/footer"); %>