<!DOCTYPE html>
<html>
	<head>
		<title>ANIME</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
		<link rel="stylesheet" type="text/css" href="/css/app.css">
	</head>
	<body>
		<div class="ui inverted menu fixed">
			<div class="ui container">
				<div class="header item"><i class="chevron up icon"></i><a href="/anime">AN-I/ME</a></div>
				<a href="/anime" class="item">HOME</a>
				<a href="/anime/new" class="item">NEW</a>
			</div>
		</div>
		
