<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/new.css">
<h1> ENTER A SEARCH ITEM: </h1>

<form action="/movies" method="GET">
	<input type="text" name="s">
	<input type="submit">
</form>